body {margin:0px 50px;}

button {
    background-color: #54CD30;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}

div {
	background-color: #05AEEF;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}

div.resultadoRest {
	background-color: #54CD30;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}

/*
div.input {
	color: red;
}

div {
	ackground-color: #54CD30;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h1 {
    color: #54CD30;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 200%;

}
h2 {
    color: #05AEEF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 180%;

}
h2.sitter {
    color: #FFFFFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 100%;

}
h3 {
    color: #939393;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 160%;

}

h3.sitter {
    color: #FFFFFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 100%;

}

p  {
    color: #000000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 130%;
}

p.aviso {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #05AEEF;
    font-size: 120%;
}

p.consejo {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 100%;
}

p.sitter {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 100%;
}

.active {
    background-color: #FFFFFFF;
}